<div class="passport-injection">
    <a class="document-id-link-injection" aria-label="Copy Document UUID" data-tooltip="SHEETS.CopyUuid"
        data-tooltip-direction="UP">
        <i class="fa-solid fa-passport"></i>
    </a>
</div>
<div class="left-gradient"></div>
<div class="news-container">
    <div class="news-feed">
        <h1 class="no-margin">
            Thank you for choosing the Independent News Feed! Perparing Headlines...
        </h1>
    </div>
</div>
<div class="right-gradient"></div>