.sr3d.sheet.character {
    min-width: @component-width*2;
    min-height: 800px;
    max-width: 1200px;
    background: @transparent;

    .window-content {
        background: @transparent;
    }

    form {
        background: @transparent;
    }

    .sheet-content {
        display: flex;
        flex-wrap: wrap;
        background: @transparent;
        gap: 1em;

        .portrait { 
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center;
        
            .clipped-corners(15px, 15px, 30px, 15px);
        
            border: 0px;
            box-sizing: border-box;
        }
    }
}