
.sr3d.sheet.character {
   
    min-width: @componentWidth * 2;
    min-height: 800px;
    max-width: 1200px;
    background: @transparent;
    border:0px;

    .window-content {
        padding: 0;
        margin: 0;
        border-width: 0px;
        background: @transparent;
    }

    form {
        background: @transparent;
        display: flex;
        flex-direction: row;
        
    }

    .sheet-content {
        display: flex;
        flex-wrap: wrap;
        background: @transparent;
        gap: 5px;

        .portrait {
            width: 250px;
            height: 250px;
            object-fit: cover;
            object-position: center;

            .clipped-corners(15px, 15px, 30px, 15px); 

            border: 0px;
            box-sizing: border-box;
        }
        
        .full-width-item {
            flex: 1 1 100%;
            max-width: 100%;
        }
    }
}