.attribute-masonry-grid {
    display: grid;
    margin: 0 auto;

    h1,
    h4 {
        margin: 0;
    }

    h1 {
        text-indent: 0;
    }

    h4 {
        text-align: center;
    
        &:hover {
            color: @primary-color;
        }
    }    

    .attribute-gutter-sizer {
        width: 0.5rem; 
    }

    .attribute-grid-sizer,
    .attribute-card {
        min-width: 5rem;
    }

    .attribute-card {
        .clipped-corners(0.5rem, 0.5rem, 1.0rem, 0.5rem);

        background: @primary-color;
        padding: 0.25rem;
        min-height: 3rem;
        transition: transform 1.3s ease, width 1.3s ease, height 1.3s ease, background-color 1.3s ease;
        margin-top: 0.25rem;

        .attribute-value {
            margin: 0;
            text-align: center;
        }

        .horizontal-section {
            background-color: @secondary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            .clipped-corners(0.5rem, 0.5rem, 1.0rem, 0.5rem);

            .decrement-attribute,
            .increment-attribute {
                justify-content: center;
                font-size: 0.8rem;
                color: @primary-color;
                cursor: pointer;
                transition: transform 0.2s ease;
                margin: 0.25rem;

                &:hover {
                    transform: scale(1.2);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
                    filter: brightness(1.15);
                    z-index: 10;
                }

                &:active {
                    transform: scale(1.15);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
                    filter: brightness(1);
                }

                a.decrement-attribute.disabled {
                    color: grey;
                    pointer-events: none;
                    opacity: 0.5;
                }
            }
        }

        &:hover {
            background-color: @accent-color;
            z-index: 10;
        }
    }
}
