@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neonderthaw';
    font-style: bold;
    src: url('../fonts/Neonderthaw/Neonderthaw-Regular.ttf') format('truetype');
}

.sr3d {
    --color-scrollbar: rgba(30, 30, 0, 0.8); /* Smokey yellow tinge */
    --color-scrollbar-track: transparent; /* Track background */
}


.VTT323-header() {
    text-transform: uppercase;
}

.VTT323() {
    font-family: 'VT323', monospace;
    margin: 0.33rem 0;
    line-height: 1.2;
    color: @text-color;
}

.sr3d.sheet.item,
.sr3d.sheet.character {
    .window-content {
        .VTT323();
        
        h1 {
            .VTT323-header();
            color: @h1-color;
            text-shadow: @h1-color-bloom-primary;
            border: none;
        }
        h2 {
            .VTT323-header();
            color: @h2-color;
            border: none;
        }
        h3 {
            .VTT323-header();
            color: @h3-color;
            border: none;

            &.no-margin {
                margin: 0;
            }
        }
        h4 {
            .VTT323-header();
            color: @h4-color;
        }
        h5 {
            .VTT323-header();
            color: @h5-color;
        }
        h6 {
            .VTT323-header();
            color: @h6-color;
        }

        select,
        input {
            .VTT323();

            &::placeholder {
                color: @text-color;
            }
        }
    }
}