// NOTE: LESS mixins for brevity
.apply-container() {
    position: relative;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

.fake-shadow(@fake-shadow-color) {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: @fake-shadow-color;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    z-index: -2;
    filter: blur(20px);
}

.apply-flex-distribute(@orientation) {
    display: flex;
    flex-direction: @orientation;
    justify-content: space-between;
    padding: 0.5rem;
}

.sr3d.sheet.item,
.sr3d.sheet.character {

    .inner-background-container {
        .apply-container();

    }


    .inner-background {
        .apply-container();
        position: relative;
        z-index: 10;
    }

    .editor-field {

        z-index: 100;
        min-height: 10rem;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }


    .window-content {
        position: relative;
        padding: 0rem;
    }

    img {
        width: 100%;
        height: auto;
    }

    input {
        text-indent: 0.5rem;
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
    }

    //Attributes, dicepools, movement
    .stat-card {
        .clipped-corners(0.5rem, 0.5rem, 1rem, 0.5rem);

        padding: 0.25rem;
        min-height: 3rem;
        margin-top: 0.25rem;

        .stat-value {
            margin: 0;
        }

        .stat-label {
            display: flex;
            .clipped-corners(0.5rem, 0.5rem, 1rem, 0.5rem);
        }

        &:hover {
            z-index: 10;
        }

        select {
            height: 2rem;
            width: 100%;
        }
    }

    .stat-grid {
        height: 100%;
    }

    //Skills display on character sheet
    .core-skill {
        padding: 0.25rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        justify-content: flex-start;
        position: relative;

        .skill-name {
            overflow: hidden;
            white-space: nowrap;
            flex: 1;
        }

        .skill-value {
            min-width: 3rem;
        }
    }

    .choice-component {
        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        background-color: @secondary-color;
        padding: 0.5rem;

        select {
            background-color: @primary-color;

            option {
                background-color: transparent;
            }

            &:hover {
                background-color: @primary-color;
                box-shadow: inst 0 0 19px @accent-color;
            }
        }

        h3 {
            text-align: center;
        }

        display: flex;
        justify-content: space-between;
        align-items: stretch;
        /* Changed from bottom to stretch */
        gap: 0.5rem;

        .list-box {
            text-indent: 0.5rem;
            flex: 1;
            /* Ensure the list boxes take up equal width */
            /* Removed height: 100%; */

            display: flex;
            flex-direction: column;

            select {
                width: 100%;
                flex: 1;
                /* Make the select element take up available vertical space */
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            margin-top: auto; // Pushes the column to the bottom of the container

            a {
                text-decoration: none;
                color: inherit;
                cursor: pointer;

                i {
                    transition: color 0.3s;
                }

                &:hover i {
                    color: #007bff; // Hover color
                }
            }
        }

    }



    .specialisation-container {
        margin-top: 0.25rem;
        padding: 0.25rem;

        .specializations {
            width: 100%;

            .skill-specialization-card {
                .apply-flex-distribute(row);
                background-color: @secondary-color;
                padding: 0.25rem;
                margin-top: 0.25rem;

                .specialization-name {
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;
                }

                .specialization-value {
                    min-width: 3rem;
                    height: 2rem;
                }
            }
        }
    }
}