.language-skill-section {
    
    .item-header {

        .skill-value {
            background-color: transparent;
        }
    }

    .subskill-card {

        background-color: @quartiery-color;
        padding: 0.5rem;
        margin-top: 0.5rem;
        
        .clipped-corners(1rem, 1rem, 2rem, 1rem);

        .language-skill-display {
            .apply-flex-distribute(row);
            align-items: center;
            
            margin-bottom: 0.5rem;
            
            background-color: @tertiary-color;
            
            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        }
    }

}