.sr3d.sheet.item,
.sr3d.sheet.character {

    .editor {
        height: 100%;
    }

    box-shadow: none;

    .window-resizable-handle {
        background-color: @accent-color;
    }

    .window-content {
        background: @transparent;
        background-image: @sheet-background-image;
    }

    input[type="text"] {
        background-color: @primary-color;
        border: none;
    }

    img {
        border: none;
        
        &.small {
            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        }

        &.large {
            .clipped-corners(1rem, 1rem, 1rem, 1rem);
        }
    }

    .fake-shadow {
        .fake-shadow(@default-fake-shadow-color);
        .clipped-corners(1rem, 1rem, 2rem, 1rem);
    }

    .inner-background {
        background: @default-inner-background-color;
        .clipped-corners(1rem, 1rem, 2rem, 1rem);
    }

    .image-mask {
        z-index: 1;
        min-width: 10rem;
        aspect-ratio: 1/1;
        overflow: hidden;
        position: relative;
        .clipped-corners(1rem, 1rem, 1rem, 1rem);
    
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }

    select {
        background-color: @quartiery-color;
        border: none;
        border-radius: 0%;

        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

        &:hover {
            background-color: @accent-color;
        }
       
    }

    .stat-card {
        .clipped-corners(0.5rem, 0.5rem, 1rem, 0.5rem);
        transition: transform 1.3s ease, width 1.3s ease, height 1.3s ease, background-color 1.3s ease;

        .stat-value {
            margin: 0;
            text-align: center;
        }

        .stat-label {
            
            align-items: center;
            justify-content: center;
        }

        &:hover {
            background-color: @accent-color;
        }
    }
    
    option {
        background-color: @quartiery-color;
        border-radius: 0rem;
        border:none;

        &:hover {
            background-color: red;
        }
    }
}
