.sheet-component {
    box-sizing: border-box;
    width: 32%;
    min-width: 300px;
    margin-bottom: 10px;
    background: @transparent;

    .proportional {
        aspect-ratio: 1 / 1;
        overflow: hidden; /* Ensure overflow is hidden on the outer container */
    }

    .inner-background-container {
        box-sizing: border-box;
        position: relative; /* Positioning context for both inner-background and fake-shadow */
        padding: 0.5rem;
        width: 100%;
        height: 100%;
    }

    .inner-background {
        box-sizing: border-box;
        padding: 1rem;
        background: @background-color;
        width: 100%;
        height: 100%;
        .clipped-corners(1rem, 1rem, 2rem, 1rem);
    }

    .fake-shadow {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        background-color: @accent-color;
        width: calc(100% - 1.5rem); /* Same calculation as inner-background */
        height: calc(100% - 1.5rem); /* Same calculation as inner-background */
        z-index: -1; /* Push behind other elements */
        filter: blur(20px);
        .clipped-corners(1rem, 1rem, 2rem, 1rem);
    }
      
    
    .portrait {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
        border: 0;
        box-sizing: border-box;
        z-index: 1;

        .clipped-corners(1rem, 1rem, 2rem, 1rem);
    }
}