.sr3d.sheet.character {
    min-width: @masonry-column-width;
    min-height: 800px;
    max-width: 1400px;

    .sheet-masonry-grid {
        display: grid;
        margin: 0 auto;

        .layout-gutter-sizer {
            width: 1rem;
        }

        .layout-grid-sizer {
            min-width: 300px;
        }
    }
}