.sr3d.sheet.item,
.sr3d.sheet.character {

    box-shadow: none;

    .window-resizable-handle {
        background-color: @accent-color;
    }

    .window-content {
        background: @transparent;
        background-image: @sheet-background-image;
    }

    input[type="text"] {
        background-color: @primary-color;
        border: none;
    }

    img {
        border: none;

        &.small {
            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
        }

        &.large {
            .clipped-corners(1rem, 1rem, 1rem, 1rem);
        }
    }

    select {
        background-color: @quartiery-color;
        border: none;
        border-radius: 0%;

        .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

        &:hover {
            background-color: @accent-color;
        }
       
    }
    option {
        background-color: @quartiery-color;
        border-radius: 0rem;
        border:none;

        &:hover {
            background-color: red;
        }
    }
}
