.sr3d {
    .sheet-masonry-grid {
        .sheet-component {
            .inner-background-container {
                .skills-tabs {
                    position: relative;

                    .skill-utility-bar {
                        display: flex;
                        justify-content: space-between; 

                        .tabs {
                            display: flex;
                            flex-wrap: nowrap; // Prevent wrapping for consecutive placement
                            justify-content: flex-start; // Align all tabs starting from the left
                            gap: 0; // Remove any gaps for back-to-back placement
                            margin-left: 1.5rem;

                            .item {
                                position: relative;

                                padding: 0.5rem 0.5rem;
                                background: @primary-color; // Secondary color
                                cursor: pointer;
                                z-index: 1; // Ensure tabs are above the content
                                transition: background 1.5s, color 1.3s;

                                .clipped-corners(0.5rem, 0.5rem, 0rem, 0rem);

                                &:hover {
                                    transition: background 1.5s, color 1.3s;
                                    background: @tertiary-color;
                                }

                                &.active {
                                    background: @secondary-color;
                                    z-index: 2; // Bring active tab to the front
                                }
                            }
                        }
                        .item-create {
                            position: absolute;
                            top: -2.5rem;
                            right: 0.5rem;
                        }
                    }

                    .tab-content {
                        padding: 0rem;
                        margin-top: -1px; // Align content with tabs

                        .clipped-corners(1rem, 1rem, 2rem, 1rem);

                        .tab {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}