.language-grid-container {
    background-color: @secondary-color;
    padding: 0.5rem;
    width: 100%;
    .clipped-corners(0rem, 1rem, 2rem, 1rem);

    h1, h2, h3, h4 {
        margin: 0rem;
    }

    .language-skills-masonry-grid {
        display: grid;
        margin: 0 auto;
        .clipped-corners(1rem, 1rem, 1rem, 1rem);

        .language-gutter-sizer {
            width: 0.5rem;
        }

        .language-grid-sizer {
            min-width: 11.5rem;
        }

        .language-skill-category {
            background-color: @primary-color;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
            float: left;
            min-width: 11.5rem;
            // min-width: 11.5rem;
            .clipped-corners(1rem, 1rem, 1rem, 1rem);

            h3 {
                text-indent: 0.5rem;
            }

            .checkmark {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                z-index: 10;
            }

            .edit-icon {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
                z-index: 10;
                display: flex;
                flex-direction: row;
                align-items: center; // Keeps icons vertically centered within their container
                gap: 0.25rem; // Space between icons
            }

            .skill-specialization-card {
                align-items: center;
            }

            .skill-specialization-card,
            .language-card-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                min-height: 2rem;
                margin-bottom: 0.25rem;
                padding: 0.5rem;
                background-color: @secondary-color;
                justify-content: space-between; // Space between name and value
                gap: 0rem; // Space between rows or items
                .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

                .core-skill {
                    padding: 0.25rem;
                    width: 100%;
                    display: flex;
                    flex-direction: row; // Ensure horizontal layout
                    align-items: center; // Align all children along the x-axis
                    justify-content: space-between; // Space between the skill name, icons, and value
                    position: relative;
  

                    .language-card {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center; // Align icons and values in the same row
                        gap: 0.5rem; // Add space between skill name and icons
                        justify-content: center;

                        .skill-name {
                            flex: 1; // Allow this to take up remaining space
                        }

                        .skill-value {
                            width: 3rem; // Adjust to fit the value display appropriately
                            text-align: center;
                            background-color: @secondary-color;
                            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem); // Assuming this adds styling
                        }
                    }
                }


                .language-specialization-card-color-override {
                    .apply-flex-distribute(row);
                    background-color: @secondary-color;
                    padding: 0.25rem;
                    margin-top: 0.25rem;
                }

                .specialisation-container {
                    margin-top: 0.25rem;
                    padding: 0.25rem;
                    background-color: @primary-color;
                    .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);

                    .specializations {
                        text-indent: 0rem;
                        width: 100%;

                        .specialization-name {
                            margin-left: 0.5rem;
                            margin-right: 0.5rem;
                            overflow: hidden; // Hides overflowing text
                            text-overflow: ellipsis;
                        }

                        .specialization-value {
                            text-indent: 0rem;
                            min-width: 3rem;
                            height: 2rem;
                            text-align: center;
                            background-color: @primary-color;
                            .clipped-corners(0.5rem, 0.5rem, 0.5rem, 0.5rem);
                        }
                    }
                }
            }
        }
    }
}