// theme-tokyo-nights.less
@primary-color:         #1a1b26; // Dark background
@accent-color:          #82aaff; // Neon blue
@secondary-color:       #c3e88d; // Soft green
@highlight-color:       #ff5370; // Pink for highlights
@background-color:      #3e4053;
@text-color:            #c8d3f5;

@font-family: 'Source Code Pro', monospace;

@transparent: transparent;


@component-unit: 22rem;
@component-width: @component-unit;