.sr3d.sheet.item {

    // INFO: The item grid that dislays small plackets of information
    .stat-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
      }

    .info-field {
        background-color: @secondary-color;
            
        display: flex;
        align-items: center;
        justify-content: center;
        .clipped-corners(0.5rem, 0.5rem, 1.0rem, 0.5rem);
    }
}