<div class="attribute-masonry-grid">
    <div class="attribute-grid-sizer"></div>
    <div class="attribute-gutter-sizer"></div>

    {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" system=system actor=actor attribute="body"}}
    {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" system=system actor=actor attribute="quickness"}}
    {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" system=system actor=actor attribute="strength"}}
    {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" system=system actor=actor attribute="charisma"}}
    {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" system=system actor=actor attribute="intelligence"}}
    {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" system=system actor=actor attribute="willpower"}}

    {{> "systems/sr3d/templates/components/plackets/derivedAttribute.hbs" system=system attribute="reaction"}}
    {{> "systems/sr3d/templates/components/plackets/derivedAttribute.hbs" system=system attribute="initiative"}}
    {{> "systems/sr3d/templates/components/plackets/derivedAttribute.hbs" system=system attribute="magic"}}
    {{> "systems/sr3d/templates/components/plackets/derivedAttribute.hbs" system=system attribute="essence"}}

</div>


