<div class="attribute-masonry-grid">
    <div class="attribute-grid-sizer"></div>
    <div class="attribute-gutter-sizer"></div>

    {{!-- Base Attributes --}}
    {{#each baseAttributes as |attribute|}}
        {{> "systems/sr3d/templates/components/plackets/buyableAttribute.hbs" 
            name=attribute.name 
            data=attribute.data 
            system=../system 
            actor=../actor}}
    {{/each}}

    {{!-- Derived Attributes --}}
    {{#each derivedAttributes as |attribute|}}
        {{> "systems/sr3d/templates/components/plackets/derivedAttribute.hbs" 
            name=attribute.name 
            data=attribute.data 
            system=../system}}
    {{/each}}
</div>
