<!-- systems/sr3d/templates/components/plackets/derivedAttribute.hbs -->

<div class="stat-card" data-attribute="{{name}}">
    <div>
        <h4>{{localize (concat "sr3d.actor.attributes." name)}}</h4>
    </div>
    <div class="stat-label">
        <div class="stat-value">
            <h1>
                {{data.total}}
                {{#if data.mod}}
                / {{data.mod}}
                {{/if}}
            </h1>
        </div>
    </div>
</div>
