<div class="stat-card">
    <div>
        <h4>{{localize (concat "sr3d.actor.dicepools." dicepool)}}</h4>
    </div>
    <div class="stat-label">
        <div class="stat-value">
            <h1>
                {{getProperty (getProperty system dicepool) "total"}}
                {{#if (getProperty (getProperty system dicepool) "mod")}}
                    /{{getProperty (getProperty system dicepool) "mod"}}
                {{/if}}
            </h1>
        </div>
    </div>
</div>