<!-- Applicable for any drived attribute, movement or dicepool -->

<div class="attribute-card">
    <div class="attribute-name">
        <h4>{{localize (concat "sr3d.actor.attributes." attribute)}}</h4>
    </div>
    <div class="horizontal-section">
        <div class="attribute-value">
            <h1>
                {{getProperty (getProperty system attribute) "total"}}
                {{#if (getProperty (getProperty system attribute) "mod")}}
                    /{{getProperty (getProperty system attribute) "mod"}}
                {{/if}}
            </h1>
        </div>
    </div>
</div>