<div class="stat-card" data-attribute="{{name}}">
    <div>
        <h4>{{localize (concat "sr3d.actor.movement." movement)}}</h4>
    </div>
    <div class="stat-label">
        <div class="stat-value">
            <h1>
                {{data.total}} <!-- Hard fail if data.total is undefined -->
                {{#if data.mod}}
                / {{data.mod}}
                {{/if}}
            </h1>
        </div>
    </div>
</div>
