<div class="attribute-card">
    <div class="attribute-name">
        <h4>{{localize (concat "sr3d.actor.attributes." attribute)}}</h4>
    </div>
    <div class="horizontal-section">
        <div class="attribute-value">
            <h1>
                {{getProperty (getProperty system attribute) "total"}}/{{getProperty (getProperty system attribute) "mod"}}
            </h1>
        </div>
    </div>
</div>
