<div class="karma-card">
    <div class="karma-name">
        <h4>{{localize (concat "sr3d.actor.karma." karma)}}</h4>
    </div>
    <div class="horizontal-section">
        <div class="karma-value">
            <h1>
                {{getProperty (getProperty system "karma") karma}}
            </h1>
        </div>
    </div>
</div>