<div class="stat-card" data-attribute="{{name}}">
    <div>
        <h4>{{localize (concat "sr3d.actor.karma." karma)}}</h4>
    </div>
    <div class="stat-label">
        <div class="stat-value">
            <h1>
                {{value}}
            </h1>
        </div>
    </div>
</div>