<form>
    <div class="form-group">
        <label>Choose a Skill Type:</label><br>
        <input type="radio" id="active-skill" name="skill-type" value="active-skill" checked>
        <label for="active-skill">Active Skill</label><br>
        
        <input type="radio" id="knowledge-skill" name="skill-type" value="knowledge-skill">
        <label for="knowledge-skill">Knowledge Skill</label><br>
        
        <input type="radio" id="language-skill" name="skill-type" value="language-skill">
        <label for="language-skill">Language Skill</label>
    </div>
</form>