<form>
    <fieldset>
        <legend>Choose Skill Type</legend>
        <label>
            <input type="radio" name="skillType" value="activeSkill" checked> Active Skill
        </label>
        <label>
            <input type="radio" name="skillType" value="knowledgeSkill"> Knowledge Skill
        </label>
        <label>
            <input type="radio" name="skillType" value="languageSkill"> Language Skill
        </label>
    </fieldset>
</form>