<form class="{{cssClass}}" autocomplete="off">
    <div class="item-sheet-component">
        <div class="inner-background-container">
            <div class="fake-shadow"></div>
            <div class="inner-background">

                <!-- Active Skill Section -->
                {{#if (eq system.skillType 'activeSkill')}}
                {{> "systems/sr3d/templates/components/active-skill.hbs"}}
                {{/if}}

                <!-- Knowledge Skill Section -->
                {{#if (eq system.skillType 'knowledgeSkill')}}
                {{> "systems/sr3d/templates/components/knowledge-skill.hbs"}}
                {{/if}}

                <!-- Language Skill Section -->
                {{#if (eq system.skillType 'languageSkill')}}
                {{> "systems/sr3d/templates/components/language-skill.hbs"}}
                {{/if}}

            </div>
        </div>
    </div>
</form>