<div class="dicepool-masonry-grid">
    <div class="dicepool-grid-sizer"></div>
    <div class="dicepool-gutter-sizer"></div>
            {{> "systems/sr3d/templates/components/plackets/derivedDicepool.hbs" system=system actor=actor dicepool="combat"}}
            {{> "systems/sr3d/templates/components/plackets/derivedDicepool.hbs" system=system actor=actor dicepool="control"}}
            {{> "systems/sr3d/templates/components/plackets/derivedDicepool.hbs" system=system actor=actor dicepool="hacking"}}
            {{> "systems/sr3d/templates/components/plackets/derivedDicepool.hbs" system=system actor=actor dicepool="astral"}}
            {{> "systems/sr3d/templates/components/plackets/derivedDicepool.hbs" system=system actor=actor dicepool="spell"}}
</div>
