<div class="dicepool-masonry-grid">
    <div class="dicepool-grid-sizer"></div>
    <div class="dicepool-gutter-sizer"></div>

    {{#each dicePools as |dicepool|}}
        {{> "systems/sr3d/templates/components/plackets/derivedDicepool.hbs" 
            name=dicepool.name 
            data=dicepool.data 
            config=../config 
            system=../system 
            actor=../actor}}
    {{/each}}
</div>
