<div class="ecg-container">
  <canvas id="ecg-canvas" class="ecg-animation"></canvas>
</div>
<div class="ecg-controls">
  <label>
    Frequency: 
    <input type="range" class="ecg-frequency" step="0.1" min="0.1" max="10" value="1" />
    <span class="ecg-frequency-value">1</span> Hz
  </label>
  <label>
    Amplitude: 
    <input type="range" class="ecg-amplitude" step="0.1" min="0" max="100" value="20" />
    <span class="ecg-amplitude-value">20</span>
  </label>
</div>
