<div class="karma-masonry-grid">
    <div class="karma-grid-sizer"></div>
    <div class="karma-gutter-sizer"></div>

    {{> "systems/sr3d/templates/components/plackets/karmaCard.hbs"
        value=system.karma.goodKarma
        karma="goodKarma"}}

    {{> "systems/sr3d/templates/components/plackets/karmaCard.hbs"
        value=system.karma.karmaPool
        karma="karmaPool"}}
</div>
