<div class="skills-tabs">

  <div class="skill-utility-bar">
    <nav class="tabs">
      <a class="item" data-tab="active-skills">
        <h2>{{localize "sr3d.item.skill.activeSkills"}}</h2>
      </a>
      <a class="item" data-tab="knowledge-skills">
        <h2>{{localize "sr3d.item.skill.knowledgeSkills"}}</h2>
      </a>
      <a class="item" data-tab="language-skills">
        <h2>{{localize "sr3d.item.skill.languageSkills"}}</h2>
      </a>
    </nav>
    {{#if (isShoppingStateActive this.actor)}}
    <a class="item-create" data-type="skill" data-skill-type="skill" title="{{localize " sr3d.sheet.addSkill"}}">
      <h2><i class="fas fa-square-plus pulsing-green-cart"></i></h2>
    </a>
    {{/if}}
  </div>

  <div class="tab-content">
    <!-- Active Skills Tab -->
    <section class="tab" data-tab="active-skills">
      <div class="active-grid-container">
        <div class="active-skills-masonry-grid">
          <div class="active-grid-sizer"></div>
          <div class="active-gutter-sizer"></div>
          {{> "systems/sr3d/templates/components/plackets/activeSkill.hbs" skills.active}}
        </div>
      </div>
    </section>

    <!-- Knowledge Skills Tab -->
    <section class="tab" data-tab="knowledge-skills">
      {{> "systems/sr3d/templates/components/plackets/knowledgeSkill.hbs" skills.knowledge}}
    </section>

    <!-- Language Skills Tab -->
    <section class="tab" data-tab="language-skills">
      <div class="language-grid-container">
        <div class="language-skills-masonry-grid">
          <div class="language-grid-sizer"></div>
          <div class="language-gutter-sizer"></div>
          {{> "systems/sr3d/templates/components/plackets/languageSkill.hbs" skills.language}}
        </div>
      </div>
    </section>
  </div>
</div>