.sr3d.sheet.character {
  min-width: 22rem;
  min-height: 800px;
  max-width: 1400px;
  background: transparent;
}
.sr3d.sheet.character .window-content,
.sr3d.sheet.character form {
  position: relative;
  background: transparent;
}
.sr3d.sheet.character .sheet-masonry-grid {
  display: grid;
  gap: 1rem;
  background: transparent;
  /* Use CSS variable for column width */
  grid-template-columns: repeat(auto-fit, minmax(var(22rem, 200px), 1fr));
}
.sr3d.sheet.character .sheet-masonry-grid .doubleWidth {
  grid-column: span 2;
}
.sheet-component {
  box-sizing: border-box;
  width: 32%;
  min-width: 300px;
  margin-bottom: 10px;
  background: transparent;
}
.sheet-component .proportional {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.sheet-component .inner-background-container {
  box-sizing: border-box;
  position: relative;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}
.sheet-component .inner-background {
  box-sizing: border-box;
  padding: 1rem;
  background: #3e4053;
  width: 100%;
  height: 100%;
  clip-path: polygon(1rem 0px, calc(100% - 1rem) 0px, 100% 1rem, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 1rem 100%, 0px calc(100% - 1rem), 0px 1rem);
}
.sheet-component .fake-shadow {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  background-color: #82aaff;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  z-index: -1;
  filter: blur(20px);
  clip-path: polygon(1rem 0px, calc(100% - 1rem) 0px, 100% 1rem, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 1rem 100%, 0px calc(100% - 1rem), 0px 1rem);
}
.sheet-component .portrait {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border: 0;
  box-sizing: border-box;
  z-index: 1;
  clip-path: polygon(1rem 0px, calc(100% - 1rem) 0px, 100% 1rem, 100% calc(100% - 2rem), calc(100% - 2rem) 100%, 1rem 100%, 0px calc(100% - 1rem), 0px 1rem);
}
@font-face {
  font-family: 'VT323';
  src: url('fonts/VT323/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sr3d.sheet.character {
  font-family: 'VT323', monospace;
  font-size: 16px;
  line-height: 1.2;
  color: #c8d3f5;
  /* Set font color */
}
.sr3d.sheet.character h1,
.sr3d.sheet.character h2,
.sr3d.sheet.character h3,
.sr3d.sheet.character h4,
.sr3d.sheet.character h5,
.sr3d.sheet.character h6 {
  text-transform: uppercase;
  font-family: 'VT323', monospace;
  margin: 0.5em 0;
  line-height: 1.2;
  color: #ff5370;
  border: none;
}
.sr3d.sheet.character p,
.sr3d.sheet.character span,
.sr3d.sheet.character a,
.sr3d.sheet.character div,
.sr3d.sheet.character button,
.sr3d.sheet.character input,
.sr3d.sheet.character textarea {
  font-family: 'VT323', monospace;
}
.sr3d.sheet {
  border-width: 0px;
  shape-outside: none;
}
.attribute-masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
  gap: 1rem;
  width: 100%;
}
.attribute-masonry-grid .attribute-card {
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
  text-align: center;
  background: #1a1b26;
  transition: transform 0.3s ease-in-out;
}
.attribute-masonry-grid .attribute-card .attribute-name {
  background-color: #c3e88d;
}
.attribute-masonry-grid .attribute-card:hover {
  transform: scale(1.1);
  z-index: 10;
}
.specialization-value,
.specialization-add,
.specialization-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.specialization-container label {
  margin-right: 10px;
}
.specialization-container a {
  color: inherit;
  text-decoration: none;
  font-size: 1.2em;
  cursor: pointer;
}
.sr3d.sheet.character .skills-actor-component {
  display: flex;
  flex-direction: column;
  position: relative;
}
.skills-section {
  background-color: #1a1b26;
  padding: 1rem;
  text-transform: uppercase;
  clip-path: polygon(1rem 0px, calc(100% - 1rem) 0px, 100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%, 0px calc(100% - 1rem), 0px 1rem);
}
.skills-section .skill-specialization-card,
.skills-section .skill-card,
.skills-section .knowledge-card,
.skills-section .language-card {
  box-sizing: border-box;
  min-height: 2rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.skills-section .skill-specialization-card {
  background-color: #82aaff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-section .skill-specialization-card .specialization-name {
  font-weight: bold;
  flex: 1;
  text-align: left;
}
.skills-section .skill-specialization-card .specialization-value {
  font-size: 1.5rem;
  width: 20%;
  padding: 0.25rem;
  font-weight: 900;
  text-align: center;
  background-color: aqua;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.skills-section .skill-card {
  background-color: #f4a370;
  flex-direction: column;
}
.skills-section .skill-card .skill-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-section .skill-card .skill-name {
  flex: 1;
  font-weight: bold;
}
.skills-section .skill-card .skill-value {
  font-size: 1.5rem;
  width: 20%;
  padding: 0.25rem;
  font-weight: 900;
  text-align: center;
  background-color: aqua;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.skills-section .skill-card .icons {
  display: flex;
  gap: 0.25rem;
}
.skills-section .knowledge-card {
  background-color: #977ad7;
  min-height: 2rem;
  justify-content: space-between;
  align-items: center;
}
.skills-section .knowledge-card .icons {
  display: flex;
  gap: 0.25rem;
}
.skills-section .language-card {
  background-color: #3e4053;
  flex-direction: column;
}
.skills-section .language-card .language-skill-line,
.skills-section .language-card .language-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-section .language-card .language-skill-line {
  padding: 0.125rem 0;
}
.skills-section .language-card .language-skill-line .language-skill-name,
.skills-section .language-card .language-skill-line .subskill-name {
  flex: 1;
  text-align: left;
}
.skills-section .language-card .language-skill-line .subskill-value {
  font-style: bold;
}
.skills-section .language-card .language-info {
  background-color: #82aaff;
  width: 66%;
  min-height: 1.5rem;
}
.skills-section .language-card .icons {
  display: flex;
  gap: 0.5rem;
}
.skills-section .language-card a {
  color: #1a1b26;
  cursor: pointer;
  text-decoration: none;
}
.skills-section a {
  color: #1a1b26;
  margin-left: 0.5rem;
}
.attribute-position {
  position: absolute;
  width: 100px;
  /* Fixed size for square */
  height: 100px;
  left: -3rem;
  z-index: 1;
}
.attribute-position:nth-of-type(1) {
  top: 5rem;
}
.attribute-position:nth-of-type(2) {
  top: calc(5rem + 4rem * 2);
}
.attribute-position:nth-of-type(3) {
  top: calc(5rem + 4rem * 4);
}
.attribute-position:nth-of-type(4) {
  top: calc(5rem + 4rem * 6);
}
.attribute-position .attribute-point-container {
  position: relative;
  width: 100%;
  /* Match the parent width */
  height: 100%;
  /* Match the parent height */
  padding: 0;
  margin: 0;
}
.attribute-position .attribute-point-container .attribute-fake-shadow {
  --offset: 0.5rem;
  /* Custom property for offset */
  position: absolute;
  top: 0;
  left: 0;
  background-color: magenta;
  width: 100%;
  height: 100%;
  transform: translate(var(--offset), var(--offset));
  filter: blur(20px);
  z-index: 0;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
  animation: colorPulse 3s ease-in-out infinite;
  animation-delay: 0s;
}
.attribute-position .attribute-point-container .attribute-fake-shadow:nth-of-type(1) {
  animation-delay: 0s;
  /* No delay */
}
.attribute-position .attribute-point-container .attribute-fake-shadow:nth-of-type(2) {
  animation-delay: 0.5s;
  /* 0.5-second delay */
}
.attribute-position .attribute-point-container .attribute-fake-shadow:nth-of-type(3) {
  animation-delay: 1s;
  /* 1-second delay */
}
.attribute-position .attribute-point-container .attribute-fake-shadow:nth-of-type(4) {
  animation-delay: 1.5s;
  /* 1.5-second delay */
}
@keyframes colorPulse {
  0% {
    background-color: magenta;
  }
  50% {
    background-color: blueviolet;
  }
  100% {
    background-color: magenta;
  }
}
.attribute-position .attribute-point-container .attribute-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ff5370;
  box-sizing: border-box;
  padding: 0.5rem;
  z-index: 2;
  animation: colorPulse 3s ease-in-out infinite;
  clip-path: polygon(0.5rem 0px, calc(100% - 0.5rem) 0px, 100% 0.5rem, 100% calc(100% - 0.5rem), calc(100% - 0.5rem) 100%, 0.5rem 100%, 0px calc(100% - 0.5rem), 0px 0.5rem);
}
.attribute-position .attribute-point-container .attribute-points .attribute-point-text {
  text-transform: capitalize;
  font-size: 1rem;
}
.attribute-position .attribute-point-container .attribute-points .attribute-point-value {
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
