.sr3d.sheet.item form {
  display: flex;
  flex-direction: column;
}
.sr3d.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sr3d.sheet.item .sheet-content .editor {
  height: 100%;
}
.sr3d.sheet.character {
  min-width: 400px;
  min-height: 800px;
  max-width: 1200px;
  background: transparent;
  border: 0px;
}
.sr3d.sheet.character .window-content {
  padding: 0;
  margin: 0;
  border-width: 0px;
  background: transparent;
}
.sr3d.sheet.character form {
  background: transparent;
  display: flex;
  flex-direction: column;
}
.sr3d.sheet.character .sheet-content {
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  gap: 5px;
}
.sr3d.sheet.character .sheet-content .portrait {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(15px 0px, calc(100% - 15px) 0px, 100% 15px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 15px 100%, 0px calc(100% - 15px), 0px 15px);
  border: 0px;
  box-sizing: border-box;
}
.sr3d.sheet.character .sheet-content .full-width-item {
  flex: 1 1 100%;
  max-width: 100%;
}
@font-face {
  font-family: 'VT323';
  src: url('fonts/VT323/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'VT323', monospace;
  font-size: 16px;
  line-height: 1.2;
  color: white;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: 'VT323', monospace;
  margin: 0.5em 0;
  line-height: 1.2;
  color: white;
}
body h1 h1,
body h2 h1,
body h3 h1,
body h4 h1 {
  font-size: 3rem;
  font-style: bold;
  margin-bottom: 0em;
}
body h1 h2,
body h2 h2,
body h3 h2,
body h4 h2 {
  font-size: 2.5rem;
  font-style: bold;
  margin-bottom: 0em;
}
body h1 h3,
body h2 h3,
body h3 h3,
body h4 h3 {
  font-size: 2rem;
  font-style: bold;
  margin-bottom: 0em;
}
body h1 h4,
body h2 h4,
body h3 h4,
body h4 h4 {
  font-size: 1.5rem;
  font-style: bold;
  margin-bottom: 0em;
}
.sr3d.sheet {
  border-width: 0px;
  shape-outside: none;
}
.sheet-component {
  box-sizing: border-box;
  padding: 10px;
  flex: 0 0 300px;
  max-width: 300px;
  min-height: 200px;
  background: #565a77;
  clip-path: polygon(15px 0px, calc(100% - 15px) 0px, 100% 15px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 15px 100%, 0px calc(100% - 15px), 0px 15px);
}
.sheet-component .greedy {
  flex: 1 1 400px;
  max-width: 100%;
}
.attribute {
  width: 30%;
  box-shadow: 4px;
}
